@mixin bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

@mixin fb{
    display: flex;
    justify-content: center;
    align-items: center;
}



.section__home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url(../media/bg/bg-home.jpg);
    @include bg;
    height: 100vh;

    position: relative;
    overflow: hidden;

    @include fb;
    justify-content: end;


    .personaje__home{
        height: 100vh;
        position: absolute;
        left: 9vw;
        bottom: -20vh;

    }
    
    .boxContent{
        margin-right: 12vw;
        

        h2{
            text-align:end;
            margin-bottom: .7em;
        }
        p{
            text-align:end;
            font-size: 1.1em;
            margin-bottom: 1em;
        }
        .btns{
            @include fb;
            gap:4em;

            margin-bottom: 2em;

            button{
                width: 7em;
                height: 2em;
                border-radius: .5em 0 ;
            }
        }
        .icons{
            @include fb;

            .icon__home{
                width: 3rem;
                fill: white;
                transition: opacity 0.3s ease-in-out;
                opacity: 50%;
                cursor: pointer;
                &:hover {
                    opacity: 100%;
                  }
            }
        }
    }

    
}
@media (max-width:800px){
    .section__home{
        justify-content: center;
        .personaje__home{
            position: relative;
            float: left;
            height: 90vh;
            bottom: 0;
            left: 0;
            align-self: flex-end;
        }


        .boxContent{
            margin: 0 1em 0 0;
            height: auto;
    
            h2{
                text-align:center;
            }
            p{
                text-align:center;
            }

            .btns{
                flex-wrap: wrap;
                gap: 1em;
            }
        }
    }
}

.section__about{
    padding:  0 13vw;
    @include fb();
    flex-direction: column;
    background-color: #141118;
    height: 100vh;
    justify-content: space-between;

    h1{
            margin-top: 14vh;
            display: flex;
            align-self: start;
            justify-self: end;
        }
    
    

    
    .box__about{
        // background:url(../media/Untitled.svg) ;
        // background-repeat: no-repeat;
        // background-size: 95% auto;
        // background-position: center;
        // position: relative;
        // height: 50vh;
        // width: 50vw;
        position: relative;
        background-color: #2E2836;
        padding: 2em;
      
        
        
        
        
        p{
            
            width: 60%;
        }
        img{
            position: absolute;
            height: 50vh;
            bottom: -1em;
            right: -4em;
        }
    }

    .slider{
        width: 50vw;
        margin-bottom: 5vh;
        overflow: hidden;
    
        .slide-track{
            display: flex;
            justify-content: space-between;
            width: calc(200px *12);
            animation: scroll 20s linear infinite;
            -webkit-animation: scroll 20s linear infinite;
          

            .slide{
                @include fb;
                width: 8em;
                img{
                    width: 100%;
                }
            }
        }

        @keyframes scroll {
            0%{
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100%{
                -webkit-transform: translateX(calc(-200px * 7));
                transform: translateX(calc(-200px * 7));
            }
        }
    }
}
@media (max-width:800px){
    .section__about{
        padding: 0;
        h1{
            margin-left: 1em
        }

        .box__about{
            @include fb;
            flex-direction: column;
            padding: 1em;
            p{
                width: 100%;
                font-size: .8em;
                text-align: center;
            }
            img{
                position: relative;
                bottom: 0;
                right: 0;
                height: 40vh;
                
            }
        }
        .slider{
            width: 100%;
        }
    }
}


.section__assets{
    padding:  0 13vw;
    
    background-image: linear-gradient(rgba(37, 39, 70, 0.5), rgba(19, 19, 49, 0.7)),url(../media/bg/bg-assets.jpg);
    @include bg;
    @include fb;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    background-color: #141118;
    height: 100vh;
    

     h1{
            margin-top: 14vh;
            display: flex;
            align-self: end;
        }

    .tabs__assets{
        background-color: #5F5F5F;
        border-bottom: .5em solid #5F5F5F ;
        border-radius: 0.6em 0.6em 0 0; 
        
       
        button{
            background-color: #141118;
            font-size: 1em;
            font-weight: 900;
            margin: 0;
            padding: 0;
            width: 10em;
            height: 3em;

            &:first-child {
                border-radius:0.5em 0 0 0; 
            }
            &:last-child {
                border-radius:0em 0.5em 0 0; 
            }
            
        }

        .active{
            background-color: #5F5F5F;
        }
    }
    .box__assets{
        height: 65vh;
        
        margin-bottom: 5vh;
    }
}
@media (max-width:800px){
    .section__assets{
        padding: 0 0.8em;
        h1{
            margin-right: 1em;
        }

        .tabs__assets{
            width: 100%;
            button{
                width: 25%;
                font-size: .8em;
            }
        }
    }
}


.section__timelin{
    background-color: #141118;

    padding:  0 13vw;
    @include fb();
    justify-content: space-between;
    flex-direction: column;
    background-color: #141118;
    height: 100vh;


    h1{
        margin-top: 14vh;
        display: flex;
        align-self: start;
        justify-self: end;
    }

    .cards{
        height: 75vh;
        margin-bottom: 5vh;
        background: red;

        @include fb;
        justify-content: space-between;
        flex-direction: column;

        .card__timelin{
            border: .3em solid #3D3447;
            border-radius: 2em;
            
    
            @include fb;
            width: 50vw;
            height: 16vh;

            padding: 2vh 4vw;
            
    
            .code{
                text-align: center;
                font-size: 2.3em;
                font-weight: bold;
                margin-right: 4vw;
            }
            .text{
                height: 100%;
                
                h3{
                    color: #CCC1E1;
                    margin-bottom: 10px;
                }
                p{
                    font-size: .8em;
                }
            }
        }
        .btn-slide{
            background: white;
            height: 2vh;
            width: 10vw;
        }
    }



    .container-all{
        position: relative;
        max-width: 1000px;
        min-width: 74vw;
        border-radius: 6px;
        overflow: hidden;

        height: 75vh;
        margin-bottom: 5vh;

    }
    
    .slide{
        display: flex;
        
    }
    
    .item-slide{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
        flex-grow: 0;
        width: 100%;
        height: 75vh;
        color: #fff;

        .card__timelin{
            border: .3em solid #3D3447;
            border-radius: 2em;
            
    
            @include fb;
            width: 50vw;
            height: 16vh;
            margin-bottom: 2em;
            padding: 2vh 4vw;
            
    
            .code{
                text-align: center;
                font-size: 2em;
                font-weight: bold;
                margin-right: 4vw;
            }
            .text{
                height: 100%;
                
                h3{
                    color: #CCC1E1;
                    margin-bottom: .4em;
                }
                p{
                    font-size: .8em;
                }
            }
        }
    }
    
    .pagination{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .pagination-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: .8em;
        height: .8em;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        background: #402862;
        margin: 0 10px;
        text-align: center;
        transition: all 300ms;
    }
    
    .pagination-item:hover{
        transform: scale(1.1);
    }

}
@media (max-width:800px){
    .section__timelin{
        padding: .8em;
        h1{
            margin-right: 3%;
        }

        
        .item-slide{
            .card__timelin{
                width: 90%;
                .text{
                    p{
                        font-size: .7em;
                    }
                }
            }
        }
        
    }
}

.section__users{
    background-image: linear-gradient(rgba(7, 7, 7, 0.5), rgba(0, 0, 0, 0.7)),url(../media/bg/bg-users.jpg);
    @include bg;
    @include fb;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding:0 13vw;

    
   
        h1{
            margin-top: 14vh;
            display: flex;
            align-self: end;
            justify-self: start;
        }
    

    .cards__users{
        @include fb;
        gap: 1em;
        flex-wrap: wrap;
        margin-bottom: 5vh;
        height: 80vh;

        .card__users{
            border-radius: .5em;
            padding: .7em;
            background-color:#1F1F1F;
           

            @include fb;
            flex-direction: column;
            gap: .7em;            
            width: 10em;
            img{
            width: 100%;
            }
            .box-date{
                width: 100%;
                @include fb;
                justify-content: space-between;
                .icon{
                    width: 3rem;
                    fill: white;
                    transition: opacity 0.3s ease-in-out;
                    opacity: 50%;
                    cursor: pointer;
                    &:hover {
                        opacity: 100%;
                      }
                }
                h6{
                    color: #6A6A6A;
                }
            }
        }
    }

    


}
@media (max-width:800px){
    .section__users{
        
        padding: 0;
        h1{
            margin-right: 1em;
        } 
    }
}

.section__logos{
    position: relative;
    background-color: #141118;
    @include fb;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    height: 70vh;
    padding:0 13vw;

    h1{
        margin-top: 14vh;
        
    }
    p{
        font-size: .8em;
    }

    .box__logos{
        
        margin-top: 4vh;
        
        display: grid;
        grid-template-columns: repeat(3,10vw);
        grid-template-rows: repeat(2, 3vw);
        gap: .5em 1.5em;

        .boxLogo{
            @include fb;
            background-color: #1F1F1F;
            border-radius: .5em;
            padding: .8em 1em;

            img{
                width: 100%;
            }
        }
    }
    .boxDiscord{
       
        position: absolute;
        bottom: -3vh;

        align-self: center;
        background-color: #6187B6;
        border-radius: .8em;
        width: 65vw;
        height: 18vh;
        @include fb;
        justify-content: space-between;
        padding: 1em 2em;
 

        h1{
            width: 40%;
            margin: 0;
            color: black;
            font-weight: 800;
            font-size: 1.3em;
         text-align: center;
         @include fb;
         flex-direction: column;

            span{
                @include fb;
                font-size: 1.3em;
                font-weight: 900;
                color: black;
                height: 2em;

                .icon{
                    width: 4rem;
                    fill: rgb(0, 0, 0);
                    transition: opacity 0.3s ease-in-out;
                    
                   
                    
                }
            }
        }

        .boxTxt{
            width: 50%;
            @include fb;
            flex-direction: column;
            p{
                font-size: .7em;
                text-align: justify;
                color: black;
            }

            button{
                margin-top: .7em;
                background-color: black;
                width: 7em;
                height: 2em;
                
                font-weight: bold;
                text-transform: capitalize;
            }
        }
        .person{
        position: absolute;
        height: 40vh;
        right: 0;
        top: -40vh;
        
        }

    }
    

}
@media (max-width:800px){
    
    .section__logos{
        padding: 0.8em;
        display: flex;
        align-items: center;

        p{
            margin-top: 1.5em;
            text-align: center;
        }
       
        .box__logos{
            display: grid;
            grid-template-columns: repeat(3,12vh);
            grid-template-rows: repeat(2, 5vh);
            gap: .5em 1.5em;
        }
        .boxDiscord{
            padding: 0;
            width: 100%;
            bottom: 0;

            h1{
                font-size: 1em;
                span{
                    font-size: 1em;
                }
            }

            .boxTxt{
                width: 60%;
                p{
                    margin: 1em;
                }
                button{
                    margin: 0;
                    width: 5em;
                    font-size: .8em;
                }
            }
            .person{
                display: none;
            }
        }
    }
}

input[id="1"]:checked ~ .slide{
        animation: none;
        transform: translate3d(0, 0, 0);
    }
    
    input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
        background: #814ED1;
    }
    
    input[id="2"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
        background: #814ED1;
    }
    
    
    input[id="3"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    
    input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
        background: #814ED1;
    }







.PagePreloader {
  height: 100vh;
  width: 100vw;

  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;

  .containerLoader {
  
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    height: 50vh;
    gap: 0.5em;
  

    img {
        justify-self: flex-start;
        width: 18em;
    }
    .box_loader {
        float: inline-end;
        
        @include fb;
        flex-direction: column;
        
        p {
            margin-top: .5em;
        font-size: 1.5em;
        font-weight: 900;
        color: #afa198;
        }   
}


}

}



.containerLoader .loader {
  
  height: 2em;
  width: 25em;
  background-color: #c0be8d;
  position: relative;
  border-radius: 1.5em;
}

.containerLoader .loader::before {
  content: "";
  border-radius: 1.5em;
  position: absolute;
  background: #8e8b41;
  width: 0;
  height: 2em;

  animation: loader 10s infinite;
}

@keyframes loader {
  90% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
    