@mixin bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

@mixin fb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url(../media/bg/bg-home.jpg);
    @include bg;
    height: 100vh;

    position: relative;
    overflow: hidden;

    @include fb;
    justify-content: end;


    .personaje__home{
        width: 17em;
        position: absolute;
        left:10em;
        bottom: -15em;

        max-width: 300px;
    }
    
    .boxContent{
        margin-right: 15vw;

        h2{
            text-align:end;
            margin-bottom: .7em;
        }
        p{
            text-align:end;
            font-size: 1.1em;
            margin-bottom: 1em;
        }
        .btns{
            @include fb;
            gap:4em;

            margin-bottom: 2em;

            button{
                width: 7em;
                height: 2em;
                border-radius: .5em 0 ;
            }
        }
        .icons{
            @include fb;

            .icon__home{
                width: 3rem;
                fill: white;
                transition: opacity 0.3s ease-in-out;
                opacity: 50%;
                cursor: pointer;
                &:hover {
                    opacity: 100%;
                  }
            }
        }
    }

    
}

.section__about{
    background-color: #141118;
    height: 100vh;

    padding: 5em 10em;
    img{
        width: 20em;
    }
}

.section__assets{
    background-image: linear-gradient(rgba(37, 39, 70, 0.5), rgba(19, 19, 49, 0.7)),url(../media/bg/bg-assets.jpg);
    @include bg;
    height: 100vh;
}

.section__timelin{
    background-color: #141118;
    height: 100vh;
}

.section__users{
    background-image: linear-gradient(rgba(7, 7, 7, 0.5), rgba(0, 0, 0, 0.7)),url(../media/bg/bg-users.jpg);
    @include bg;
    height: 100vh;

    img{
        width: 10em;
    }
}
.section__logos{
    background-color: #141118;
    height: 60vh;
}

