@mixin fb{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    @include fb();
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.648);


    .box_logo_main{
        img{
            width: 15em;
            margin-left: 4vw
        }
    }

    nav{
        width: 90%;
        @include fb();
        justify-content: space-between;
        margin-right: 4vw;
        
        ul{
            width: 100%;
            @include fb();
            justify-content: space-evenly;

            text-transform: uppercase;
            font-weight: 700;
            

            li{
                cursor: pointer;
                position: relative;
                font-size: 1em;

                .list-vertical{
                    margin-top: .1em;
                    background-color: #555555;
                    width: 6em;
                    
                    display: none;
                    
                    position: absolute;
                    left: -20%;
                    
                    li{
                        text-align: center;
                        padding: .3em .5em;
                        transition: .5s;
                        font-size: 1em;

                        &:hover{
                            background: #3A3737;
                        }
                    }
                }
                &:hover .list-vertical{
                    display: block;
                }
            }
            
        }
        button{
        background: #92132E;
        width: 7em;
        height: 2em;
        font-weight: 700;
        border-radius: .5em 0 ;
        
    }
    }

    
    .menu{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        
        display: none;
    }
    
    .menu__img{
        display: block;
        width: 36px;
        cursor: pointer;
    }

    
}



footer{
    background-color: #012523;
    
    height: 25vh;
    padding: 5vh 10vw 0 10vw;   

    @include fb;
    flex-direction: column;
    justify-content: space-between;
    
    .footer-lists{
        // background: #000;
            position: relative;
            width: 100%;
            border-top: .2em solid #073330;
            @include fb;
            flex-wrap: wrap;
            justify-content: space-between;
            img{
                width: 8em;
            }
            .footer-list-wrap{
                
                .point{
                    width: .8em;
                    height: .8em;
                    background-color: #5178AB;
                    border-radius: 50%;
    
                    position: absolute;
                    top: -.7vh;
                }

                ul{
                    @include fb;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    // background: #000;
                    height: 4em;

                    li{
                        cursor: pointer;
                        color: #C2D8D6;
                        
                        font-size: .7em;
                    }
                }

                h6{
                    color: #C2D8D6;
                    
                }
                .input{
                    margin-top: .4em;
                    height: 1.7em;
                    width: 22vw;
                    border: .2em solid #07332F;
                    border-radius: .5em 0.8em 0.8em .5em;
                    background: #002E2B;

                    @include fb;
                    justify-content: space-between;

                    input{
                        width: 13vw;
                        height: 50%;
                        border: none;
                        background: none;
                        outline: none;
                        
                        margin-left: .5em;
                    }
                    button{
                        color: black;
                        text-transform: capitalize;
                        font-weight: 500;
                        font-size: .8em;
                        background: #6187b6;
                        border-radius: .5em;
                        height: 100%;
                        width: 8em;
                    }
                }
            }

            span{
                font-size: .8em;
            }
            .icons{
                display: flex;
                gap: 0.5rem;

                .icon__home{
                    width: 1.5em;
                    fill: white;
                    transition: opacity 0.3s ease-in-out;
                    opacity: 50%;
                    cursor: pointer;

                    // @include fb;
                    // background: #002F29;
                    // border: .1em solid white;
                    // border-radius: 50%;
                    // width: 2em;
                    // fill: white;
                    // transition: opacity 0.3s ease-in-out;
                    // opacity: 50%;
                    // cursor: pointer;

                    &:hover {
                        opacity: 100%;
                    }
                }

            }

    }
    
}


@media (max-width:800px){
    header{
        .menu{
            display: flex;
        }
        
        nav{
            display: none;
        }
        
    }


    footer{
        
        padding: 1em;   
    
        
        
        .footer-lists{
            
                

                .email{
                    width: 100%;
                    .point{
                        display: none;
                    }
                    .input{
                        margin: .4em 0;
                        width: 100%;
                        height: 2em;
                        
                        border: none;
                        
    
                        input{
                            font-size: .8em;
                            
                            width: 100%;
                        }
                        
                    }
                }
    
                
    
        }


        
    }
}